<div class="col-3">
  <div class="card">
    <%= dom_id photo %>
    <div class="card-body">
  <p class = "card-text">
    <strong>Name:</strong>
    <%= photo.name %>
  

 <br>
    <strong>Title:</strong>
    <%= photo.title %>


 <br>
    <strong>Content:</strong>
    <%= photo.content %>
  </p>

</div>
 </div>
</div>